@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

body{
    margin: 0;
    padding: 0;
}

html{
    scrollbar-width: thin;
    scrollbar-color: #2e2559 #d0ddff;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: black;
}

.body{
    margin: 0;
    padding: 0;
    background: #d0ddff;
    color: #2e2559;
    display: grid;
}

.pro-inf{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: white;
    height: max-content;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 1rem;
}

.pro-inf:hover{
    box-shadow: 0 0 10px 5px #2e2559;
}

.logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}



input{
    cursor: pointer;
    margin: 0.5rem;
}

input[type="submit"]{
    cursor: pointer;
    border-radius: 1rem;
    color: #2e2559;
    background-color: #d0ddff;
    padding: 0.5rem 1rem;
    border: 2px solid #2e2559;
    transition: 0.5s;
}

.btn:hover{
    background-color: #2e2559;
    color: #d0ddff;
}

input[type="file"]{
    width:  50%;
    cursor: pointer;
    border-radius: 1rem;
    color: #2e2559;
    background-color: #d0ddff;
    padding: 0.5rem 1rem;
    border: 2px solid #2e2559;
    transition: 0.5s;
}

table{
    display: flex;
    justify-content: center;
    align-items: center;
}

td{
    padding: 0.5rem;
    text-align: left;
}

.title{
    display: grid;
    place-items: center;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    height: 20vh;
}


.title h1{
    margin: 3rem 0;
    background-color: #2e2559;
    color: white;
    transition: 0.3s ease-in-out;
    width: 40%;
    border-radius: 1rem;
    height: 4rem;
    display: grid;
    place-items: center;

}
